footer {
  display: flex;
  position: relative;
}

#timeline {
  position: absolute;
  top: -2px;
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 400px;
  height: 4px;
  background: linear-gradient(90.35deg, #4AC08F 2.49%, #2FB4FF 101.2%, #2FB4FF 101.2%);
}

#timeline::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--secondary);
  transform: translateY(-6px);
  filter: blur(0.2px);
}

.footer__content {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.music, .controller {
  width: 100%;
  max-width: 400px;
}

.music {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 6px 42px;
}

.music svg {
  grid-row: 1 / 3;
  width: 100%;
  height: auto;
}

.music h2 {
  color: var(--tertiary);
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.music h3 {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}

.player {
  display: flex;
  align-items: center;
  column-gap: 100px;
}

.player .player__main {
  display: flex;
  align-items: center;
  column-gap: 36px;
}

.player .player__main button {
  background: transparent;
}

#button__play {
  display: flex;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding-left: 3px;
  background: var(--background-light);
}

#button__play svg {
  width: 18px;
  height: auto;
  margin: auto;

  display: none;
  opacity: 0;
}

#button__play.play svg:first-child,
#button__play.pause svg:last-child {
  opacity: 1;
  display: block;
}

.controller {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 50px;
}

.controller svg {
  width: 32px;
  height: auto;
}